h1 {
    font-family: "Times New Roman";
    font-style: italic;
}

body {
    background-image: url("../images/small-tacos.png");
    font-style: italic;
    font-size: 23px;
    opacity: 1;
}

.custom-card-wrap {
    border-radius: 2rem;
    background-image: url("../images/wrap-transparent-mic.png");
}

.custom-card-title1 {
    border-radius: 2rem;
    background-image: url("../images/polka-dot-pink.png");
}

.custom-card-title2 {
    border-radius: 2rem;
    background-image: url("../images/polka-dot-red.png");
    font-weight: bold;
}

.custom-shadow {
    box-shadow: 20px 20px 30px 10px rgba(0,0,0,0.75);
}

.custom-card-protein {
    border-radius: 2rem;
    background-image: url("../images/carne.png");
}

.nav-item .nav-link {
    border-right: 1px solid #999;
    padding-right: 15px;
    margin-right: 15px;
}

.nav-item:last-child .nav-link {
    border-right: none;
}