<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Taco Cloud</title>
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
            <a class="navbar-brand" href="#">Taco Cloud</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/design}">Design a taco!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders/current}">Order your tacos!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register if you haven't</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class = "container-fluid text-center">

            <div class = "container">
                <div class = "row">
                    <h1 class="mt-5 custom-shadow card col-5 custom-card-title1">Design your taco</h1>
                    <div class = "col-2"></div>
                    <h1 class="mt-5 custom-shadow card col-5 custom-card-title2">AND THEN DEVOUR IT</h1>
                </div>
            </div>
            <br/>
            <br/>
            <div class = "container">
                <div class = "row">
                    <div class = "col-6">
                        <img class="img-fluid img-responsive rounded-circle custom-shadow" th:src="@{/images/TacoCloud.jpg}"/>
                    </div>
                    <div class = "col-6">
                        <img class="img-fluid img-responsive rounded-circle custom-shadow" th:src="@{/images/taco-cook.jpg}"/>
                    </div>
                </div>
            </div>



            <br/>
            <br/>
            <br/>



            <form method="POST" th:object="${taco}">
                <div class="align-items-center container">

                    <div class = "row">
                        <div class="col-5 card custom-card-wrap custom-shadow" id="wraps">
                            <h3>Designate your wrap:</h3>
                            <div th:each="ingredient : ${wrap}">
                                <input class = "form-switch" th:field="*{ingredients}" type="checkbox"
                                       th:value="${ingredient.id}" />
                                <span th:text="${ingredient.name}">INGREDIENT</span>
                                <br/>
                            </div>
                        </div>

                        <div class = "col-2"></div>

                        <div class="col-5 card custom-card-protein custom-shadow" id="proteins">
                            <h3>Pick your protein:</h3>
                            <div th:each="ingredient : ${protein}">
                                <input th:field="*{ingredients}" type="checkbox"
                                       th:value="${ingredient.id}" />
                                <span th:text="${ingredient.name}">INGREDIENT</span>
                            </div>
                        </div>
                    </div>

                    <br/>
                    <br/>
                    <br/>


                    <div class = "row">
                        <div class="col-6" id="cheeses">
                            <h3>Choose your cheese:</h3>
                            <div th:each="ingredient : ${cheese}">
                                <input th:field="*{ingredients}" type="checkbox"
                                       th:value="${ingredient.id}" />
                                <span th:text="${ingredient.name}">INGREDIENT</span>
                            </div>
                        </div>

                        <div class="col-6" id="veggies">
                            <h3>Determine your veggies:</h3>
                            <div th:each="ingredient : ${veggies}">
                                <input th:field="*{ingredients}" type="checkbox"
                                       th:value="${ingredient.id}" />
                                <span th:text="${ingredient.name}">INGREDIENT</span>
                            </div>
                        </div>
                    </div>

                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>

                    <div class = "row">
                        <div class = "col-12" id = "sauces">
                            <h3>Select your sauce:</h3>
                            <div th:each="ingredient : ${sauce}">
                                <input th:field="*{ingredients}" type="checkbox"
                                       th:value="${ingredient.id}" />
                                <span th:text="${ingredient.name}">INGREDIENT</span>
                            </div>
                        </div>
                    </div>

                </div>

                <br/>

                <span class="text-danger col-md-6"
                      th:if="${#fields.hasErrors('ingredients')}"
                      th:errors="*{ingredients}">Please select at least one ingredient
                </span>

                <br/>
                <br/>

                <div>
                    <h3>Name your taco creation:</h3>
                    <input type="text" th:field="*{name}" />
                    <br/>
                    <br/>
                    <span class="text-danger "
                          th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}">Please make your taco's name at least 2 characters long
                    </span>

                    <br/>
                    <br/>
                    <br/>

                    <button class="btn btn-primary">Submit Your Taco</button>

                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                </div>
            </form>
        </div>
    </body>
</html>