<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xnlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Your Past Orders</h1>

    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Delivery Name</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.deliveryName}"></td>
            </tr>
        </tbody>
    </table>


</body>
</html>